nav {
    width: 100vw;
    height: 100vh;
    padding: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    /* z-index: 1; */

    img {
        width: 4vw;
        height: 4vw;
        box-shadow: 0 0.3vw 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        cursor: pointer;
        border-radius: 50%;
        position: sticky;
        z-index: 100;

        &:hover {
            box-shadow: 0 0.3vw 0.5vw 0.1vw rgba(0, 0, 0, 0.4);
        }
    }

    >div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: ce;

        #logoNav {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 1vw;
        }

        >div {
            >dialog {
                height: 100vh;
                width: 100vw;
                background-color: rgba(0, 0, 0, 0.4);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                transition: all 0.5s;

                >div[class='position-rel'] {
                    width: 80vw;
                    height: 80vh;
                    background-color: white;
                    border-radius: 2vw;
                    margin: 10vh auto;
                    padding: 2vw;
                    display: flex;
                    flex-direction: column;

                    #treeInfoContent {
                        height: 100%;
                        width: 100%;
                        overflow-y: scroll;
                        text-align: justify;
                    }

                    span {
                        position: absolute;
                        right: 1vw;
                        top: 1vw;
                        color: rgb(169, 0, 0);
                        cursor: pointer;
                        font-size: 2rem !important;
                        padding: 1vw;

                        &:hover {
                            color: rgb(255, 68, 68);
                            /* rotate */
                            transform: rotate(90deg);
                            transition: transform 0.5s;
                        }
                    }
                }

                #settingDialog {
                    background-color: #D9D9D9;
                    width: 4vw;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 2vw;
                    bottom: 2vw;
                    gap: 1vw;
                    border-radius: 2vw;

                    box-shadow: 0 0.3vw 0.5vw 0.1vw rgba(0, 0, 0, 0.2);

                    >div {
                        padding: 1vw 0.5vw;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1vw;

                        >span {
                            font-size: 1.5vw !important;
                            cursor: pointer;
                            padding-top: 1vw;

                            &:hover {
                                color: #FF0000;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    padding: 6vw;
    z-index: 2;
    gap: 4vw;

    #indexLeft {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        img {
            height: 60vh;
            object-fit: cover;
        }

        >div {
            font-weight: bold;
            text-align: center;
            color: white;
            background-color: rgba(82, 160, 83, 1);
            padding: 1vw 4vw;
            border-radius: 2vw;
            cursor: pointer;
        }
    }

    #indexRight {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: 2vw;
        width: 100%;
        
        #indexContent {
            height: 60vh;
            /* overflow: clip; */
            position: relative;

            #chartTab {
                transition: all 0.5s;
                height: inherit;
                display: flex;
                flex-flow: column;
                justify-content: center;
                opacity: 1;

                >div {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    gap: 1px;
                    border-radius: 2vw;
                    overflow: hidden;

                    >div {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        gap: 1vw;
                        background-color: gray;
                        height: 30vh;
                    }
                }
            }

            #controlTab {
                transition: all 0.5s;
                height: inherit;
                display: flex;
                flex-flow: column;
                justify-content: center;
                opacity: 0;

                >div {
                    display: grid;
                    grid-template-columns: auto auto;

                    gap: 2vw;

                    >div {
                        display: flex;
                        flex-flow: column;
                        gap: 1vw;
                        align-items: center;
                        justify-content: center;
                        padding: 1vw;
                        border-radius: 2vw;
                        background-color: rgba(82, 160, 83, 1);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#scrollDownBtn {
    width: 10vw;
    height: 4vw;
    position: absolute;
    bottom: 2vw;
    right: 50vw;
    transform: translateX(50%);
    cursor: pointer;
}

#scrollUpBtn {
    width: 10vw;
    height: 4vw;
    position: absolute;
    top: 2vw;
    right: 50vw;
    transform: translateX(50%);
    cursor: pointer;
}